---
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import Base from "../../layouts/Base.astro";

const title = "Photos";
const description = "My Photos";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Photos</h1>
    <ImageGrid
      columns={3}
      images={[
        {
          src: "/photos/photo1.jpg",
          alt: "Madrid",
          caption: "Madrid",
        },
        {
          src: "/photos/IMG_0889.jpeg",
          alt: "Madrid",
          caption: "Madrid",
        },
        {
          src: "/photos/IMG_6609.jpeg",
          alt: "Madrid",
          caption: "Madrid",
        },
      ]}
    />

    <ImageGrid
      columns={2}
      images={[
        {
          src: "/photos/IMG_6868.jpeg",
          alt: "Madrid",
          caption: "Madrid",
        },
        {
          src: "/photos/IMG_6855.jpeg",
          alt: "Madrid",
          caption: "Madrid",
        },
      ]}
    />

    <ImageGrid
      columns={4}
      images={[
        {
          src: "/photos/IMG_6895.jpeg",
          alt: "Madrid",
          caption: "Madrid",
        },
        {
          src: "/photos/IMG_0887.jpeg",
          alt: "Madrid",
          caption: "Cooking class in Madrid",
        },
        {
          src: "/photos/IMG_0789.jpeg",
          alt: "Madrid",
          caption: "Madrid",
        },
        {
          src: "/photos/IMG_6811.jpeg",
          alt: "Madrid",
          caption: "Madrid",
        },
      ]}
    />
  </section>
</Base>
