---
import { Image } from "astro:assets";
import { socialLinks } from "../config";
import Base from "../layouts/Base.astro";
---

<Base>
  <section>
    <Image
      src="/profile.png"
      alt="Profile photo"
      class="rounded-full bg-gray-100 block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5 grayscale hover:grayscale-0"
      width={160}
      height={160}
    />

    <h1 class="mb-8 text-xl font-medium tracking-tight">Engineer | Artist</h1>

    <div class="prose prose-neutral dark:prose-invert">
      <p>
        I’m Liam, a software engineer and artist living in San Francisco. I
        build AI-powered tools and enjoy exploring the intersection of
        technology and creativity. Outside of work, I spend time performing
        improv theater, taking photographs, and writing essays and reflections.
      </p>
      <p>
        This site is a collection of projects I’ve worked on, moments I’ve
        captured, and ideas that continue to shape me.
      </p>
      <p>
        Find me on <a href={socialLinks.github} target="_blank">GitHub</a> and
        <a href={socialLinks.substack} target="_blank">Substack</a>.
      </p>
    </div>
  </section>
</Base>
