---
import { Content } from "../../content/projects.mdx";
import Base from "../../layouts/Base.astro";

const title = "Projects";
const description = "Lessons learned from my work, side projects, and interests";
---

<Base title={title} description={description}>
  <section>
    <div class="prose prose-neutral dark:prose-invert max-w-none">
      <Content />
    </div>
  </section>
</Base>


